* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  /* height: 100vh;
    width: 100vw; */
}

.all-navbaar {
  /* font-family: 'Gabriola'; */
  text-transform: uppercase;
}

.upper-navbaar {
  background-image: url("../photos/MainPage-AllPhoto/nav-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  /* background-image: linear-gradient(#ababab, #7c7c7c); */
  /* background: radial-gradient(circle, rgba(251, 182, 216, 1) 30%, rgba(255, 174, 197, 1) 100%); */
}

.upper-navbaar .icon {
  margin-right: 5px;
  padding-top: 4px;
}

.top-link {
  font-weight: bolder;
  font-size: 15px;
  /* font-size: 10px; */
  margin: 10px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  padding-right: 20px;
}

.top-link:hover {
  text-shadow: 2px 3px 5px #1b1c1b;
  transition: 0.2s;
}

.middle-navbaar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.logo-img {
  width: 130px;
  height: 45px;
}

.nav-right {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.search-baar {
  width: 500px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-style: 2px;
  border-color: rgb(0, 0, 0);
}

.search-btn {
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  background: rgb(157, 15, 96);
  background: linear-gradient(
    90deg,
    rgba(157, 15, 96, 1) 17%,
    rgba(201, 15, 89, 1) 53%,
    rgba(197, 86, 159, 1) 82%
  );
}
.search-box {
  border: none;
  height: 32px;
  width: 400px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

.about-section {
  display: flex;
  gap: 20px;
}

.about-section a {
  text-decoration: none;
  font-weight: bold;
}

.about-section a:hover {
  font-weight: 600;
  text-shadow: 1px 5px 3px #00de89;
}

.btn-div {
  border: 1px solid;
  color: #000000;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  width: 180px;
  height: 30px;
}

.sign-login-btn {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 21px;
  padding-right: 21px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: #000000;
}

.login-btn {
  background: rgb(157, 15, 96);
  background: linear-gradient(
    90deg,
    rgba(157, 15, 96, 1) 17%,
    rgba(201, 15, 89, 1) 53%,
    rgba(197, 86, 159, 1) 82%
  );
  border-radius: 4px;
  color: white;
}

/* .login-btn a {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Gabriola';
    text-transform: uppercase;
  
  }
   */
.lower-navbaar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-transform: uppercase;
  background: rgb(157, 15, 96);
  background: linear-gradient(
    90deg,
    rgba(157, 15, 96, 1) 17%,
    rgba(201, 15, 89, 1) 53%,
    rgba(197, 86, 159, 1) 82%
  );
  padding: 4px;
}

.lower-navbaar a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.lower-navbaar a:hover {
  text-shadow: 2px 4px 3px #499276;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.sale-photo {
  margin-top: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mans-sale-photo {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ladies-one-pies-sale {
  padding-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* .main-product-container {
    margin-top: 100px;
  } */

.all-product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  background: rgb(255, 233, 242);
  background: linear-gradient(
    30deg,
    rgba(255, 233, 242, 1) 0%,
    rgba(255, 255, 255, 1) 53%,
    rgba(248, 230, 242, 1) 100%
  );
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.product-box {
  height: 350px;
  width: 350px;
  background: rgb(255, 233, 242);
  background: linear-gradient(
    30deg,
    rgba(255, 233, 242, 1) 0%,
    rgba(255, 255, 255, 1) 53%,
    rgba(248, 230, 242, 1) 100%
  );
  border: 1px solid rgb(0, 0, 0);
  box-shadow: slategrey 1px 1px 10px 1px;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.photos-box-1 {
  border: 1px solid rgb(244, 111, 230);
  border-radius: 5px;
}

.product-box {
  display: flex;
}

.image-second {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mans-wear-sectiion {
  display: flex;
  flex-flow: row wrap;
  gap: 120px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.mains-photo-div {
  /* background-color: aqua; */
  height: 500px;
  width: 300px;
  padding: 22px;
  border-radius: 10px;
  /* border: 1px solid; */
  box-shadow: 3px 3px 40px 3px;
}

/* .photo-mans{
    align-items: center;
    justify-content: center;
  } */
  .mans-wear-name{
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 19px;
  }

.main-ladies-wear-div {
  margin-top: 50px;
  padding: 5rem;

}

.ladies-photo-div {
  height: 430px;
  width: 300px;
  border-radius: 2px;
  padding: 14.5px;
  margin: 5px;
  box-shadow: #f49b7d 1px 1px 10px 1px;
  margin-top: 100px;
  transition: transform .3s;
  cursor: pointer;
}

.ladies-photo-div:hover{
  -ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.ladies-product-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.kids-main-container {
  padding-top: 50px;
}

.kids-upper-container {
  margin-top: 80px;
  margin-bottom: 70px;
  background: rgb(255, 182, 208);
  background: linear-gradient(
    22deg,
    rgba(255, 182, 208, 1) 0%,
    rgba(255, 255, 255, 1) 53%,
    rgba(255, 140, 200, 1) 100%
  );
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.kids-lower-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.kids-middel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Footer CSS */
.footer {
  margin-top: 200px;
  display: grid;
  /* grid-template-columns: 20vw 20vw 20vw 20vw; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #000000;
  column-gap: 2px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.footer-content {
  /* background-color: #505050; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 40vh;
  padding-left: 30px;
  padding-top: 10px;
  font-family: Arial Narrow;
}
.footer-head {
  padding-bottom: 10px;
  font-size: 22px;
  color: #f2f2f2;
  padding-left: 4px;
}
.footer-head:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-content .footer-link {
  color: #e2e2e2;
  font-size: 16px;
  text-decoration: none;
  padding: 4px;
}

.footer-link:hover {
  color: #939393;
  cursor: pointer;
  text-decoration: underline;
}
