*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  gap:10px;
  grid-template-areas:
    "head head"
    "nav  main"
    "foot  foot";
  grid-template-rows: 135px 1fr 300px;
  grid-template-columns: 300px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #ffffff;
}

#page > nav {
  grid-area: nav;
  background-color: #ffffff;
  padding: 10px;
}

#page > main {
  grid-area: main;
  background-color: #ffffff;
}

#page > footer {
  grid-area: foot;
  background-color: #222020;
}




/* ===================================================================================================== */


body{
  background-color: #dedede;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
position: relative;
margin: auto;
font-family: "Work Sans", sans-serif;
/* height: 100vh;
  width: 100vw; */
}

.all-navbaar {
/* font-family: 'Gabriola'; */
text-transform: uppercase;
}

.upper-navbaar {
background-image: url("./page-photo/nav-bg.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
justify-content: flex-end;
gap: 16px;
align-items: center;
/* background-image: linear-gradient(#ababab, #7c7c7c); */
/* background: radial-gradient(circle, rgba(251, 182, 216, 1) 30%, rgba(255, 174, 197, 1) 100%); */
}

.upper-navbaar .icon {
margin-right: 5px;
padding-top: 4px;
}

.top-link {
font-weight: bolder;
font-size: 15px;
/* font-size: 10px; */
margin: 10px;
display: flex;
color: #ffffff;
text-decoration: none;
padding-right: 20px;
}

.top-link:hover {
text-shadow: 2px 3px 5px #1b1c1b;
transition: 0.2s;
}

.middle-navbaar {
display: flex;
align-items: center;
justify-content: space-around;
padding: 8px;
}

.logo-img {
width: 130px;
height: 45px;
}

.nav-right {
display: flex;
align-items: center;
font-size: 20px;
}

.search-baar {
width: 500px;
height: 35px;
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 5px;
border-style: 2px;
border-color: rgb(0, 0, 0);
}

.search-btn {
color: white;
border: none;
font-weight: bold;
border-radius: 0 5px 5px 0;
padding: 10px;
background: rgb(157, 15, 96);
background: linear-gradient(
  90deg,
  rgba(157, 15, 96, 1) 17%,
  rgba(201, 15, 89, 1) 53%,
  rgba(197, 86, 159, 1) 82%
);
}
.search-box {
border: none;
height: 32px;
width: 400px;
border-radius: 5px 0 0 5px;
font-size: 20px;
}

.about-section {
display: flex;
gap: 20px;
}

.about-section a {
text-decoration: none;
font-weight: bold;
}

.about-section a:hover {
font-weight: 600;
text-shadow: 1px 5px 3px #00de89;
}

.btn-div {
border: 1px solid;
color: #000000;
border-radius: 4px;
display: flex;
justify-content: space-around;
width: 180px;
height: 30px;
}

.sign-login-btn {
font-size: 12px;
padding-top: 5px;
padding-left: 21px;
padding-right: 21px;
text-align: center;
text-decoration: none;
font-weight: bold;
}

a {
color: #000000;
}

.login-btn {
background: rgb(157, 15, 96);
background: linear-gradient(
  90deg,
  rgba(157, 15, 96, 1) 17%,
  rgba(201, 15, 89, 1) 53%,
  rgba(197, 86, 159, 1) 82%
);
border-radius: 4px;
color: white;
margin-right: 8px;
}

.lower-navbaar {
display: flex;
align-items: center;
justify-content: center;
gap: 60px;
text-transform: uppercase;
background: rgb(157, 15, 96);
background: linear-gradient(
  90deg,
  rgba(157, 15, 96, 1) 17%,
  rgba(201, 15, 89, 1) 53%,
  rgba(197, 86, 159, 1) 82%
);
padding: 4px;
}

.lower-navbaar a {
color: #2e2e2e;
text-decoration: none;
font-weight: 600;
font-size: 16px;
}

.lower-navbaar a:hover {
text-shadow: 2px 4px 3px #499276;
}


/* =========================side baar=================== */
.side-baar-box{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.side-baar-div{
  width: 260px;
  height: 400px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;

}

.brand-chack{
  display: flex;
  justify-content: space-between;
}

ol{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3{
  text-align: center;
}

.color-div{
  height: 20px;
  width: 20px;
  border-radius:50% ;
}



/* =========================main product=================== */

.all-product{
  margin-top: 3rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.product{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1PX #000000;
  border: 1px solid;
  padding: 15px;
  box-shadow: 1px 1px 20px 1px;
  height: 30rem;
  width: 20rem;
}

.fa-star, .fa-star-half-o{
  color: #fabb02;
}

.product-btn{
  color: #ffffff;
  background: rgb(157, 15, 96);
  background: linear-gradient(
  90deg,
  rgba(157, 15, 96, 1) 17%,
  rgba(201, 15, 89, 1) 53%,
  rgba(197, 86, 159, 1) 82%
);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.price-details{
  display: flex;
  gap: 10px;
}

.details-of-product{
  font-size: 15px;
}

.footer{
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.footer-content{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link{
  color: #ffffff;
  padding: 5px;
}

.footer-head{
  padding-bottom: 30px;
  font-size: 25px ;
}